<div class="container mt-4 mb-5">
  <p class="display-3 fw-bold">Notices List</p>
  <div
    class="card mb-4 bg-opacity-50"
    *ngFor="let data of empNotice; let i = index"
  >
    <div class="card-body">
      <p class="card-title d-flex justify-content-between">
        <span class="display-6 text-light"
          >{{ i + 1 }}. {{ data.team_name }}</span
        >
        <span class="text-light align-self-center">
          Created By - {{ data.Employee.emp_name }}</span
        >
      </p>
      <!-- <h4 class="card-subtitle mt-2 ps-2 pe-2" style="min-height: 30px">
        <span class="float-start fw-bold">List of notices</span>
      </h4> -->
      <!-- <p class="card-text mt-2 fw-bold">List of notices</p> -->
      <ul class="list-group">
        <a
          class="list-group-item mb-3 border text-decoration-none text-dark"
          *ngFor="let notice of data.Notice_Team"
          routerLink="/employees/notices/{{ notice.Notice.notice_title }}"
        >
          <p class="blockquote border-bottom">
            {{ notice.Notice.notice_title }}
          </p>
          <p class="text-truncate" [innerHTML]="notice.Notice.notice_body"></p>
          <div class="d-flex justify-content-between">
            <span class="">
              Issued At: {{ notice.Notice.createdAt.toLocaleDateString() }}
            </span>
            <span class="">
              Issued By: {{ notice.Notice.Employee.emp_name }}
            </span>
          </div>
        </a>
      </ul>
    </div>
  </div>
</div>
