<div class="container mt-4">
  <div class="mb-4 d-flex justify-content-between">
    <div>
      <a
        class="btn statusBtn cursor-pointer"
        routerLink="../teams/create-emp-team"
        >Add Employee to Team</a
      >
      <a
        class="btn statusBtn cursor-pointer ms-4"
        routerLink="../teams/create-notice-team"
        >Add Notice to Team</a
      >
    </div>
    <div>
      <a
        class="btn statusBtn cursor-pointer ms-4"
        routerLink="../teams/create-team"
        >Create Team</a
      >
    </div>
  </div>
  <router-outlet> </router-outlet>
</div>
