.widthCard{
  width: revert;
  min-height: 200px;
}
.form-control{
  width: 80%;
}
.statusBtn{
  background-color: #802f59;
  color: white;
}
.personalDetails{
  height: 400px;

}
@media (max-width: 768px) {
  .personalDetails {
    height: 600px; /* Adjust the desired height value */
  }
}
