<div class="card m-5 border-0">
  <h1 class="shadow p-3 mb-5 bg-body rounded">Employee Profile</h1>
  <div class="d-lg-flex justify-content-between">
    <div class="col-md-6 card shadow p-3 mb-5 bg-body rounded personalDetails">
      <div class="d-lg-flex justify-content-between mb-4">
        <p class="fs-4 fw-bold align-self-center m-0">Personal Details</p>
        <i
          class="bi bi-pencil-square align-self-center fs-4"
          (click)="allowUpdate()"
          *ngIf="!allowEdit"
        ></i>
      </div>
      <form
        [formGroup]="personalDetailsForm"
        (ngSubmit)="updatePersonalDetails()"
      >
        <div class="mb-3 d-lg-flex justify-content-between">
          <label for="name" class="form-label align-self-center">Name :</label>
          <input
            type="text"
            class="form-control"
            id="password"
            placeholder="Enter your name here"
            formControlName="emp_name"
          />
        </div>
        <div class="mb-3 d-lg-flex justify-content-between">
          <label for="exampleInputEmail1" class="form-label align-self-center"
            >Email address :</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            placeholder="Enter your email here"
            formControlName="emp_email"
          />
        </div>
        <div class="mb-3 d-lg-flex justify-content-between">
          <label for="role" class="form-label align-self-center">Role :</label>
          <input
            type="text"
            class="form-control"
            id="role"
            formControlName="role"
          />
        </div>
        <div class="mb-3 d-lg-flex justify-content-between">
          <label for="status" class="form-label align-self-center"
            >Status :</label
          >
          <input
            type="text"
            class="form-control"
            id="status"
            formControlName="status"
          />
        </div>

        <button type="submit" class="btn statusBtn mt-4" *ngIf="allowEdit">
          Submit
        </button>
      </form>
    </div>
    <div class="col-md-5 card border-0">
      <div class="col-md-5 card shadow p-3 mb-5 bg-body rounded widthCard">
        Team List
      </div>
      <div class="col-md-5 card shadow p-3 mb-5 bg-body rounded widthCard">
        Notice List
      </div>
    </div>
  </div>
</div>
