<nav class="main-menu">
  <ul class="listGroup" *ngIf="role === 'SUPERADMIN'; else employeesSidebar">
    <li class="listItem">
      <a routerLink="employees" class="listLink">
        <i class="bi bi-person-lines-fill"></i>
        <span> Employees</span>
      </a>
    </li>
    <li class="listItem">
      <a routerLink="notices" class="listLink">
        <i class="bi bi-chat-square-fill"></i>
        <span> Notices</span>
      </a>
    </li>
    <li class="listItem">
      <a routerLink="teams" class="listLink">
        <i class="bi bi-people-fill"></i>
        <span> Teams</span>
      </a>
    </li>
  </ul>
  <ng-template #employeesSidebar>
    <ul class="listGroup">
      <li class="listItem">
        <a routerLink="list" class="listLink">
          <i class="bi bi-person-lines-fill"></i>
          <span> Employees</span>
        </a>
      </li>
      <li class="listItem">
        <a routerLink="notice" class="listLink">
          <i class="bi bi-chat-square-fill"></i>
          <span> Notices</span>
        </a>
      </li>
      <li class="listItem">
        <a routerLink="teams" class="listLink">
          <i class="bi bi-people-fill"></i>
          <span> Teams</span>
        </a>
      </li>
    </ul>
  </ng-template>
</nav>
