<div class="main-menu">
  <ul class="listGroup">
    <li class="listItem">
      <a routerLink="employees" class="listLink">
        <i class="bi bi-person-lines-fill"></i>
        <span class="displayNone"> Employees</span>
      </a>
    </li>
    <li class="listItem">
      <a routerLink="notices" class="listLink">
        <i class="bi bi-chat-square-fill"></i>
        <span class="displayNone"> Notices</span>
      </a>
    </li>
    <li class="listItem">
      <a routerLink="teams" class="listLink">
        <i class="bi bi-people-fill"></i>
        <span class="displayNone"> Teams</span>
      </a>
    </li>
  </ul>
</div>
