<div class="container">
  <!-- Button trigger modal -->

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-align">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Change Status</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          Are you sure you want to publish this notice?
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            class="btn statusBtn"
            data-bs-dismiss="modal"
            (click)="toggleNoticeStatus(selectedNoticeId)"
          >
            Publish Notice
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="contDropdown">
    <div>
      <a routerLink="/admin/create-notice" class="btn statusBtn cursor-pointer"
        >Create Notice</a
      >
      <a
        routerLink="/admin/create-category"
        class="btn statusBtn cursor-pointer ms-4"
        >Create Category</a
      >
    </div>

    <div class="dropdown">
      <button
        class="btn dropdown-toggle statusBtn"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        {{ changeStatusText() }}
      </button>
      <ul class="dropdown-menu">
        <li>
          <button
            class="dropdown-item cursor-pointer"
            (click)="changeStatus('published')"
          >
            Published
          </button>
        </li>
        <li>
          <button
            class="dropdown-item cursor-pointer"
            (click)="changeStatus('pending')"
          >
            Pending
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="card mt-5 mb-4">
    <div class="card-body">
      <p class="fw-bolder fs-4">Notices List</p>
      <div class="card mt-4 mb-4">
        <p-table
          [value]="filteredNotices"
          [tableStyle]="{ 'min-width': '60rem' }"
          [paginator]="true"
          [rows]="10"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [rowsPerPageOptions]="[10, 25, 50]"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Sr. No.</th>
              <th pSortableColumn="notice_title">
                Title <p-sortIcon field="notice_title"></p-sortIcon>
              </th>
              <th
                pSortableColumn="Employee.emp_name"
                *ngIf="role.toString() === 'SUPERADMIN'"
              >
                Issuer<p-sortIcon field="Employee.emp_name"></p-sortIcon>
              </th>
              <th pSortableColumn="category.category">
                Category <p-sortIcon field="category.category"></p-sortIcon>
              </th>
              <th>Status</th>
              <th
                *ngIf="status === 'pending' && role.toString() === 'SUPERADMIN'"
              >
                Change Status
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-notice let-i="rowIndex">
            <tr>
              <td>{{ i + 1 }}</td>
              <td>{{ notice.notice_title }}</td>
              <td *ngIf="role.toString() === 'SUPERADMIN'">
                {{ notice.Employee.emp_name }}
              </td>
              <td>{{ notice.category.category }}</td>
              <td>{{ notice.published === true ? "Published" : "Pending" }}</td>
              <td *ngIf="!notice.published && role.toString() === 'SUPERADMIN'">
                <button
                  class="btn"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                  (click)="selectedNotice(notice.id)"
                >
                  <i class="bi bi-pencil-square"></i>
                  <span> Change Status</span>
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
