<div class="container mt-4">
  <h3 class="fs-1 shadow p-3 mb-5 bg-body rounded">
    {{ notice.notice_title }}
  </h3>
  <div class="card border-0">
    <!-- <div class="card-header">{{ notice.category.category }}</div> -->
    <div class="card-body d-flex justify-content-between">
      <span
        >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem facilis
        fuga vel quas nihil eveniet, iste suscipit consectetur expedita
        perferendis atque? Praesentium, quam. Fugiat nemo rem odit architecto
        molestiae necessitatibus.Lorem ipsum dolor, sit amet consectetur
        adipisicing elit. Autem facilis fuga vel quas nihil eveniet, iste
        suscipit consectetur expedita perferendis atque? Praesentium, quam.
        Fugiat nemo rem odit architecto molestiae necessitatibus.Lorem ipsum
        dolor, sit amet consectetur adipisicing elit. Autem facilis fuga vel
        quas nihil eveniet, iste suscipit consectetur expedita perferendis
        atque? Praesentium, quam. Fugiat nemo rem odit architecto molestiae
        necessitatibus.Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Autem facilis fuga vel quas nihil eveniet, iste suscipit consectetur
        expedita perferendis atque? Praesentium, quam. Fugiat nemo rem odit
        architecto molestiae necessitatibus.Lorem ipsum dolor, sit amet
        consectetur adipisicing elit. Autem facilis fuga vel quas nihil eveniet,
        iste suscipit consectetur expedita perferendis atque? Praesentium, quam.
        Fugiat nemo rem odit architecto molestiae necessitatibus.</span
      >
    </div>
    <div class="card-footer">
      <span class="float-end"> Issued By: {{ notice.Employee.emp_name }} </span>
    </div>
  </div>
</div>
