<div class="container mt-4">
  <form [formGroup]="createCategoryForm" (ngSubmit)="createCategory()">
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label"
        >Category Name</label
      >
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Enter category name here"
        formControlName="category"
      />
    </div>

    <button type="submit" class="btn statusBtn cursor-pointer">
      Create Category
    </button>
  </form>
  <div class="card mt-3 mb-5">
    <div class="card-body">
      <p class="fw-bolder">Categories List</p>

      <div class="card mt-4 mb-5">
        <p-table
          [value]="categories"
          [tableStyle]="{ 'min-width': '60rem' }"
          [paginator]="true"
          [rows]="5"
          [rowsPerPageOptions]="[5, 10, 25, 50]"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Sr. No.</th>
              <th pSortableColumn="category">
                Category <p-sortIcon field="category"></p-sortIcon>
              </th>
              <th pSortableColumn="createdBy">
                Created By <p-sortIcon field="createdBy"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-category let-i="rowIndex">
            <tr>
              <td>{{ i + 1 }}</td>
              <td>{{ category.category }}</td>
              <td>
                {{ category.createdBy }}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
