<div class="container">
  <!-- Button trigger modal -->

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-align">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Change Status</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          Are you sure you want to make this employee {{ changeModalText() }}?
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            class="btn statusBtn"
            data-bs-dismiss="modal"
            (click)="toggleEmployeeStatus(selectedEmployeeId)"
          >
            Change Status
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="contDropdown">
    <div class="dropdown">
      <button
        class="btn dropdown-toggle statusBtn"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        {{ changeStatusText() }}
      </button>
      <ul class="dropdown-menu">
        <li>
          <button
            class="dropdown-item cursor-pointer"
            (click)="changeStatus('active')"
          >
            Active
          </button>
        </li>
        <li>
          <button
            class="dropdown-item cursor-pointer"
            (click)="changeStatus('inactive')"
          >
            Inactive
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="card mt-4">
    <p-table
      [value]="employees"
      [tableStyle]="{ 'min-width': '60rem' }"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[10, 25, 50]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Sr. No.</th>
          <th pSortableColumn="emp_name">
            Name <p-sortIcon field="emp_name"></p-sortIcon>
          </th>
          <th pSortableColumn="emp_email">
            Email <p-sortIcon field="emp_email"></p-sortIcon>
          </th>
          <th pSortableColumn="role">
            Role <p-sortIcon field="role"></p-sortIcon>
          </th>
          <th>Status</th>
          <th *ngIf="role.toString() === 'SUPERADMIN'">Change Status</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-employee let-i="rowIndex">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ employee.emp_name }}</td>
          <td>{{ employee.emp_email }}</td>
          <td>{{ employee.role }}</td>
          <td>{{ employee.isActive === true ? "Active" : "Inactive" }}</td>
          <td *ngIf="role.toString() === 'SUPERADMIN'">
            <button
              class="btn"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              (click)="selectedEmployee(employee.id)"
            >
              <i class="bi bi-pencil-square"></i> <span> Change Status</span>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
