.contDropdown{
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.statusBtn{
  background-color: #802f59;
  color: white;
}
.modal-align{
  position: absolute;
  top:28%;
  left:36%;
}
.dropdown-item:active{
  background-color: #802f59;
  color: white;
}
