<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
  <div class="container-fluid flex-grow-1">
    <div class="d-flex">
      <a
        class="navbar-brand ps-5"
        [routerLink]="
          role.toLocaleString() === 'EMPLOYEE'
            ? '/employees/notices'
            : '/admin/employees'
        "
        ><img
          src="https://intranet.argusoft.com/ems/assets/images/logo.png"
          alt="Argusoft"
      /></a>
      <div
        class="navbar text-align ms-md-5 ms-2 px-2"
        *ngIf="role.toLocaleString() === 'EMPLOYEE'"
      >
        <div class="nav-item">
          <a routerLink="notices" class="nav-link fs-4"> Notices </a>
        </div>
      </div>
    </div>

    <div class="navbar me-5" id="navbarSupportedContent">
      <div class="d-flex">
        <div class="d-flex align-items-center justify-content-between"></div>
        <div class="">
          <div class="navbar-nav">
            <div class="nav-item dropdown">
              <a
                class="nav-link text-dark fs-1"
                id="navbarDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="bi bi-person-circle"></i>
              </a>
              <ul
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <li>
                  <a
                    class="dropdown-item text-light"
                    [routerLink]="
                      role.toLocaleString() === 'EMPLOYEE'
                        ? '/employees/profile'
                        : '/admin/profile'
                    "
                  >
                    <span class="blockquote">{{ name }}</span>
                    <br />
                    <sub>{{ role }}</sub>
                  </a>
                </li>
                <li class="dropdown-divider"></li>
                <li>
                  <a
                    class="dropdown-item text-light"
                    (click)="logout()"
                    style="cursor: pointer"
                    >Log Out</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
