.statusBtn{
  background-color: #802f59;
  color: white;
  border-radius: 0.25rem;

}
.dropdown-menu{
  background-color: #903564;
}
.dropdown-item:hover{
  background-color: #691e45;
}
.dropdown-divider{
  background-color: #fff;
}
.text-align{
  text-align: left;

}
.container-fluid{
  height: 60px;
}
.bi-person-circle{
  color: #802f59;
}
.text-align:active{
  background-color: #802f59;
  border-radius: 5px;
}

.text-align:active .nav-item .nav-link{
  color: white;
}
