<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
  <div class="container-fluid">
    <a class="navbar-brand ps-5" routerLink="/admin"
      ><img
        src="https://intranet.argusoft.com/ems/assets/images/logo.png"
        alt="Argusoft"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div
        *ngIf="role.toString() === 'EMPLOYEE'; else admin"
        class="d-lg-flex flex-grow-1 justify-content-between"
      >
        <div class="d-lg-flex">
          <div class="navbar-nav">
            <div class="nav-item">
              <a class="nav-link text-dark fs-4" routerLink="/employees"
                >Home</a
              >
            </div>
          </div>
          <div class="navbar-nav">
            <div class="nav-item">
              <a routerLink="notices" class="nav-link text-dark fs-4">
                Notices
              </a>
            </div>
          </div>
        </div>
        <div class="d-lg-flex">
          <div class="navbar-nav pe-5">
            <div class="nav-item">
              <a class="nav-link text-dark fs-4" routerLink="/employees/profile"
                >Profile</a
              >
            </div>
          </div>
          <div class="navbar-nav">
            <div class="nav-item">
              <button
                class="nav-link btn p-2 text-dark fs-4"
                (click)="logout()"
              >
                Logout
              </button>
            </div>
          </div>
        </div>
      </div>
      <ng-template #admin>
        <div class="d-flex flex-grow-1 justify-content-between">
          <div class="navbar-nav mb-2 mb-lg-0 ms-lg-5">
            <div class="nav-item">
              <a class="nav-link text-dark fs-4" routerLink="/admin">Home</a>
            </div>
          </div>
          <div class="d-lg-flex">
            <div class="navbar-nav mb-2 mb-lg-0 me-lg-5">
              <div class="nav-item">
                <a class="nav-link text-dark fs-4" routerLink="/admin/profile"
                  >Profile</a
                >
              </div>
            </div>
            <div class="navbar-nav">
              <div class="nav-item">
                <button class="nav-link btn text-dark fs-4" (click)="logout()">
                  Logout
                </button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</nav>
