<div class="container mt-4">
  <form [formGroup]="createNoticeForm" (ngSubmit)="createNotice()">
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label"
        >Notice Title</label
      >
      <input
        type="text"
        class="form-control"
        id="exampleFormControlTextarea1"
        placeholder="Notice Title"
        formControlName="notice_title"
      />
    </div>
    <div class="mb-3">
      <label for="category" class="form-label">Categories</label>

      <select
        class="form-select"
        aria-label="Default select example"
        formControlName="category"
      >
        <option value="">Select Category</option>
        <option
          value="{{ category.category }}"
          *ngFor="let category of categories"
        >
          {{ category.category }}
        </option>
      </select>
    </div>

    <div class="mb-3">
      <label for="body" class="form-label">Notice Body</label>
      <!-- <textarea
        class="form-control"
        id="body"
        rows="8"
        placeholder="Start writing your notice from here..."
        formControlName="notice_body"
      ></textarea> -->
      <quill-editor
        class="content-editor form-control"
        placeholder="Start writing your notice from here..."
        formControlName="notice_body"
        [styles]="{ 'min-height': '200px' }"
        [modules]="modules"
      >
      </quill-editor>
    </div>
    <button type="submit" class="btn statusBtn cursor-pointer">
      Create Notice
    </button>
  </form>
</div>
